
.containerf{
    height: 1580px;
    width: 950px;
    margin:0px 300px ;
}
.navbar{
    margin-top: 5px;
    text-align:left;
    height: 50px;
    width: 100%;
    background-color: snow;
}

.navbar p{
    padding-bottom:0;
    margin: 0;
}

.fa,.fa-envelope,.fa-mobile,.fa-github,.fa-map-marker{
    position: relative;
    margin: 10px;
    display: inline;
    color: #0D8FCD;
}



.header{
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
}

.header h1{
    padding: 0;
    margin: 0;
    color: #0D8FCD;
}
.header p{
    padding: 0;
    margin: 0;
    color: #0D8FCD;
}

.left{
    margin: 0;
    padding: 0;
    height: 1060px;
    width: 100%;
    width: 100%;
}

.right{
    margin: 0;
    padding: 0;
    height: 1060px;
    
    width: 100%;
}



/* skills  */

.skills li{
   
    list-style: none;    
}

.fa-code{
    height: 33px;
    width: 33px;
    text-align: center;
    padding: 5px;
    border-radius:50%;
    background-color: #0D8FCD;
    color: #FFFFFF;
    border: solid #0D8FCD 1px;
}

.react_image img{
    height: 24px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}